.button-container{
    display: flex;
    flex-direction: row;
}

.btn1{
    width: 50%;
}

.pj-container{
    display: flex;
    flex-direction: column;
}

.volver-btn{
    align-self: flex-start;
    margin-bottom: 10px;
}